@keyframes rotate{
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes sunpulse {
    from {
        box-shadow: 0 0 50px #ff0, 0 0 50px #ff0 ;
        width: 7em;
        height: 7em;
    }
    to {
        box-shadow: 0 0 100px #ff0, 0 0 100px #ff0;
        width: 10em;
        height: 10em;

    }
}
@keyframes fly {
    from {
        margin-left: -5%;
    }
    to {
        margin-left: 100%;
    }
}

body{
    margin: 0;
    padding: 0;
    background: url(img/Rail.png), url(img/cow.png), url(img/GrassBlueSkyBackground.jpg);
    background-repeat: no-repeat;
    background-position: 0em 90%, 2em 90%, center center;
    background-attachment: fixed;
    background-size: 20em, 17em, cover;
    overflow: hidden;
}
#bird{
    width: 5em;
    height: 5em;
    position: absolute;
    top: 40%;
    background: url("img/bird.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    animation: fly 3s linear infinite;
    -webkit-animation: fly 3s linear infinite;
    -moz-animation: fly 3s linear infinite;
    -o-animation: fly 3s linear infinite;
}

#tower {
    width: 20em;
    height: 20em;
    left: 50%;
    top: 35%;
    position: absolute;
    background:url(img/lookout_tower.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#clip {
    content: '';
    width: 20em;
    height: 20em;
    background:url(img/Windmill-clip.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    margin:-6em auto;

    animation: rotate 2s linear infinite;
    -webkit-animation: rotate 2s linear infinite;
    -moz-animation: rotate 2s linear infinite;
    -o-animation: rotate 2s linear infinite;
}

#sun{
    position:absolute;
    left: 10%;
    top: 5%;
    width: 7em;
    height: 7em;
    background: #ff0;
    background: radial-gradient(ellipse at center, #f90 0%,#fc0 60%,#ff0 100%);
    border-radius: 100%;
    box-shadow: 0 0 50px #ff0, 0 0 50px #ff0;
}

#sun:hover{
    animation: sunpulse 1s alternate 2;
}